body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(7, 163, 82);
}

a:hover {
    cursor: pointer;
}

hr {
    width: 70px;
    color: gray;
    border-style: dotted none none none;
    border-width: 5px;

}




/* Hamburger styling */

/* nav {
    height: 150px;
    width: 100%;
}

.logoLabel {
    line-height: 100px;
    /* padding: 0px 100px; */
}

*/
/*
nav ul {
    float: right;
    margin-right: 5%;
    margin-top: 20px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 15px;

}

.logo {
    height: 100px;
    width: 100px;
    margin: 25px;
    margin-left: 100px;
    float: left;
}

nav ul li a {
    border-radius: 5px;
    font-size: 17px;
    padding: 7px 13px;
}

a.active,
a:hover {
    background: rgb(211, 252, 210);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: rgb(7, 163, 82);
    float: right;
    line-height: 80px;
    margin-right: 4%;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
} */

/* Hamburger styling ends here */




header {
    background-color: rgb(211, 252, 210);
}

#navbar {
    z-index: 1;
    background-color: rgb(211, 252, 210);
    width: 100%;
    display: flex;
}

ul {
    margin: 0px;
    padding: 5%;
    list-style: none;
}

.items {
    display: inline-block;
    padding: 0px 20px;
    font-size: 1.5rem;
    font-family: cursive;
    color: rgb(7, 163, 82);
}

.items:hover {
    text-shadow: 1px 1px gray;
}

.logo {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    padding: 5%;

}

#logo {
    display: inline-block;
    position: relative;
    right: 15%;
    width: 50%;
    height: 100%;
}

#navList {
    width: 50%;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: relative;
    left: 25%; */
    padding: 0px;
    margin: 0px;
}


#top {
    padding-bottom: 7%;
    background-color: rgb(211, 252, 210);
}

#middle {
    padding-top: 7%;
    padding-bottom: 7%;
    width: 50%;
    margin: auto;
}

#bottom {
    padding-top: 5%;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: rgb(7, 163, 82); */
    color: black;
    /* padding: 2% 0; */
    padding: 10px 0px;
}

h2 a {
    color: black;
}


.topCloud {
    height: 7%;
    width: 15%;
    position: relative;
    left: 25%;
}

#myName {
    color: rgb(7, 163, 82);
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

.subtitle {
    color: rgb(7, 163, 82);
    font-size: 1.5rem;
    font-weight: normal;
}

h3,
h4 {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.bottomCloud {
    position: absolute;
    left: 17%;
}

.mountain {
    height: 480px;
}

.myImage {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.bottom {
    width: 50%;
    height: 400px;
    margin: 0px auto;
    text-align: left;
}

.computer {
    width: 30%;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
}

.chillies {
    width: 30%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;

}

#footer {


    color: black;
    padding: 40px 0;
    background-color: rgb(211, 252, 210);

}

.contact {
    /* position: relative;
    left: 550px;
    */
    margin: auto;

}

#contactHeading {
    color: rgb(7, 163, 82);
}

#github {
    border-radius: 50%;
}

.socialMedia {
    height: 30px;
    width: 30px;
    padding: 20px 20px;

}

.description {
    line-height: 2em;
}


.projectHeading {
    color: rgb(7, 163, 82);
    margin-top: 5%;
    margin-bottom: 40px;
}

.Projects h2 {
    color: black;
    text-decoration: underline;
}

.Projects a {
    color: black;
}

.mainBox {
    text-align: center;
    /* text-shadow: 3px 3px black; */
    border: 3px solid rgb(37, 35, 35);
    border-radius: 30px;
    width: 600px;
    margin: 122px auto;
    box-shadow: 5px 5px 40px rgb(44, 41, 41);

}

.input {
    text-align: center;
    display: block;
    width: 500px;
    margin: 15px auto;
    padding: 8px;
    /* background-color: black; */
    /* color: white; */
    border: 2px solid gray;
    border-radius: 15px;
    height: 25px;
    /* font-size: 1.25rem; */
    font-weight: bold;
}

.btn {
    width: 150px;
    margin: 20px;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 1.15%;
}

.btn:hover {
    background-color: rgb(127, 189, 158);
}

#contactHead {
    color: rgb(7, 163, 82);
    margin: 6%;
}

/* main page MediaQueries */

@media screen and (max-width: 830px) {
    .mountain {
        height: 280px;
    }

    .logo {
        width: 20%;
    }

    #logo {
        margin-top: 2%;
    }

    .myImage {
        width: 150px;
        height: 150px;
    }

    .Projects h2 {
        font-size: 1.25rem;
    }

    .mainBox {
        width: 75%;
        margin: 10% auto;
    }

    .input {
        width: 75%;
    }


}

@media screen and (max-width: 600px) {
    #middle {
        width: 75%;
    }

    .bottomCloud {
        position: absolute;
        left: 5%;
    }

    .bottom {
        padding-bottom: 5%;
        width: 75%;
    }

    .myImage {
        width: 100px;
        height: 100px;
    }

    .logo {
        width: 20%;
    }

    .Projects h2 {
        text-decoration: none;
    }

    .input {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    #myName {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .mountain {
        height: 180px;
    }

    #middle h4 {
        line-height: 1.75rem;
    }

    .logo {
        width: 25%;
    }

    .bottomCloud {
        width: 15%;
    }

    .socialMedia {
        width: 20px;
        height: 20px;
    }

    .Projects h2 {
        font-size: 1rem;
        font-weight: unset;
    }

    .btn {
        margin-top: 0px;
    }

    .gender {
        height: 100px;
    }

    .gender input {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .description {
        line-height: 1.5rem;
    }

    .socialMedia {
        padding: 10px;
    }

    .items {
        margin: 0px;
        padding: 0px;
    }

    #myName {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .mainBox {
        width: 90%;
    }

    .input {
        width: 80%;
    }
}

@media screen and (max-width: 315px) {
    #middle h4 {
        line-height: 1.5rem;
    }

    .bottom {
        padding-bottom: 15%;
        width: 75%;
    }

    .logo {
        width: 40%;
        margin-left: 20%;
    }

    .mountain {
        height: 100px;
    }
}

@media screen and (max-width: 265px) {
    .bottom {
        padding-bottom: 20%;
        width: 75%;
    }
}
a {
    text-decoration: none;
    color: rgb(7, 163, 82);
}

a:hover {
    cursor: pointer;
}

hr {
    width: 70px;
    color: gray;
    border-style: dotted none none none;
    border-width: 5px;

}




/* Hamburger styling */

/* nav {
    height: 150px;
    width: 100%;
}

.logoLabel {
    line-height: 100px;
    /* padding: 0px 100px; */
}
*/

/*
nav ul {
    float: right;
    margin-right: 5%;
    margin-top: 20px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 15px;

}

.logo {
    height: 100px;
    width: 100px;
    margin: 25px;
    margin-left: 100px;
    float: left;
}

nav ul li a {
    border-radius: 5px;
    font-size: 17px;
    padding: 7px 13px;
}

a.active,
a:hover {
    background: rgb(211, 252, 210);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: rgb(7, 163, 82);
    float: right;
    line-height: 80px;
    margin-right: 4%;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
} */

/* Hamburger styling ends here */




header {
    background-color: rgb(211, 252, 210);
}

#navbar {
    z-index: 1;
    background-color: rgb(211, 252, 210);
    width: 100%;
    display: flex;
}

ul {
    margin: 0px;
    padding: 5%;
    list-style: none;
}

.items {
    display: inline-block;
    padding: 0px 20px;
    font-size: 1.5rem;
    font-family: cursive;
    color: rgb(7, 163, 82);
}

.items:hover {
    text-shadow: 1px 1px gray;
}

.logo {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    padding: 5%;

}

#logo {
    display: inline-block;
    position: relative;
    right: 15%;
    width: 50%;
    height: 100%;
}

#navList {
    width: 50%;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: relative;
    left: 25%; */
    padding: 0px;
    margin: 0px;
}


#top {
    padding-bottom: 7%;
    background-color: rgb(211, 252, 210);
}

#middle {
    padding-top: 7%;
    padding-bottom: 7%;
    width: 50%;
    margin: auto;
}

#bottom {
    padding-top: 5%;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(7, 163, 82);
    padding: 2% 0;
}


.topCloud {
    height: 7%;
    width: 15%;
    position: relative;
    left: 25%;
}

#myName {
    color: rgb(7, 163, 82);
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

.subtitle {
    color: rgb(7, 163, 82);
    font-size: 1.5rem;
    font-weight: normal;
}

h3,
h4 {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.bottomCloud {
    position: absolute;
    left: 17%;
}

.mountain {
    height: 480px;
}

.myImage {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.bottom {
    width: 50%;
    height: 400px;
    margin: 0px auto;
    text-align: left;
}

.computer {
    width: 30%;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
}

.chillies {
    width: 30%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;

}

#footer {


    color: black;
    padding: 40px 0;
    background-color: rgb(211, 252, 210);

}

.contact {
    /* position: relative;
    left: 550px;
    */
    margin: auto;

}

#contactHeading {
    color: rgb(7, 163, 82);
}

#github {
    border-radius: 50%;
}

.socialMedia {
    height: 30px;
    width: 30px;
    padding: 20px 20px;

}

.description {
    line-height: 2em;
}


.projectHeading {
    color: rgb(7, 163, 82);
    margin-top: 5%;
}

.Projects h2 {
    color: black;
    text-decoration: underline;
}

.Projects a {
    color: black;
}

.mainBox {
    text-align: center;
    /* text-shadow: 3px 3px black; */
    border: 3px solid rgb(37, 35, 35);
    border-radius: 30px;
    width: 600px;
    margin: 122px auto;
    box-shadow: 5px 5px 40px rgb(44, 41, 41);

}

.input {
    text-align: center;
    display: block;
    width: 500px;
    margin: 15px auto;
    padding: 8px;
    /* background-color: black; */
    /* color: white; */
    border: 2px solid gray;
    border-radius: 15px;
    height: 25px;
    /* font-size: 1.25rem; */
    font-weight: bold;
}

.btn {
    width: 150px;
    margin: 20px;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 1.15%;
}

.btn:hover {
    background-color: rgb(127, 189, 158);
}

#contactHead {
    color: rgb(7, 163, 82);
    margin: 6%;
}

/* main page MediaQueries */

@media screen and (max-width: 830px) {
    .mountain {
        height: 280px;
    }

    .logo {
        width: 20%;
    }

    #logo {
        margin-top: 2%;
    }

    .myImage {
        width: 150px;
        height: 150px;
    }

    .Projects h2 {
        font-size: 1.25rem;
    }

    .mainBox {
        width: 75%;
        margin: 10% auto;
    }

    .input {
        width: 75%;
    }

    
}

@media screen and (max-width: 600px) {
    #middle {
        width: 75%;
    }

    .bottomCloud {
        position: absolute;
        left: 5%;
    }

    .bottom {
        padding-bottom: 5%;
        width: 75%;
    }

    .myImage {
        width: 100px;
        height: 100px;
    }

    .logo {
        width: 20%;
    }

    .Projects h2 {
        text-decoration: none;
    }

    .input {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    #myName {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .mountain {
        height: 180px;
    }

    #middle h4 {
        line-height: 1.75rem;
    }

    .logo {
        width: 25%;
    }

    .bottomCloud {
        width: 15%;
    }

    .socialMedia {
        width: 20px;
        height: 20px;
    }

    .Projects h2 {
        font-size: 1rem;
        font-weight: unset;
    }

    .btn {
        margin-top: 0px;
    }

    .gender {
        height: 100px;
    }

    .gender input {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .description {
        line-height: 1.5rem;
    }

    .socialMedia {
        padding: 10px;
    }

    .items {
        margin: 0px;
        padding: 0px;
    }

    #myName {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .mainBox {
        width: 90%;
    }

    .input {
        width: 80%;
    }
}

@media screen and (max-width: 315px) {
    #middle h4 {
        line-height: 1.5rem;
    }

    .bottom {
        padding-bottom: 15%;
        width: 75%;
    }

    .logo {
        width: 40%;
        margin-left: 20%;
    }

    .mountain {
        height: 100px;
    }
}

@media screen and (max-width: 265px) {
    .bottom {
        padding-bottom: 20%;
        width: 75%;
    }
}
